<h2 class="text-center">Lista de postagens</h2>
<hr>
{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h4>{{titulo}}</h4>
        <p>Descrição: {{descricao}}</p>
        <div>
            <div class="d-flex justify-content-end mt-2">
                <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia Mais</button></a>
            </div>
        </div>
        <hr>
        <small>Categoria: {{categoria.nome}}</small><br>
        <small>Data da criação: {{data}}</small>
    </div>
</div>
{{else}}
<p>Nenhuma postagem registrada</p>
{{/each}}